@import 'custom';


.left-cotnainer {
    width : 50%; 
    max-width: 550px;
}
.home-thumb {
    height: 450px;
}

.right-container {
    display: flex;
    width: 50%;
    max-width: 550px;
    justify-content: end;
}


h1 {
    text-transform: uppercase;
    font-weight: 900;
    border-left: 10px solid #fec500;
    padding-left: 10px;
    margin-bottom: 30px
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.auth-section {
    margin-top: 30px;
    min-height: 500px;
    width: 80vw;
    display: flex;
    padding: 10px 0px;
    flex-direction: row;
    border-radius: 10px;
    background-color: white;
    border: 2px solid rgba(214, 208, 208, 0.231);
    box-shadow: 10px 10px 50px rgba(206, 198, 198, 0.205);
    margin-bottom: 20px;
    .left-auth-container {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            border-radius: 10px;
            width: 500px;
        }
    }
    .right-auth-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .auth-form {
            width: 90%;
        }
    }
}

.managment-left-container {
    display: flex;
    width: 50%;
}
.managment-right-container {
    display: flex;
    width: 50%;
}

.custom-footer {
    position: relative;
    bottom: 0px;
    clear: both;
}

.depart-date {
    margin-left: 40px;
    [type="date"] {
        background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
      }
      [type="date"]::-webkit-inner-spin-button {
        display: none;
      }
      [type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
      }
      label {
        display: block;
      }
      input {
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        background-color: #fff;
        padding: 3px 5px;
        box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
        width: 190px;
      }
}


.popup-container {
    visibility: hidden;
    display: flex;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    z-index: 1;
    top:15%;
    background-color: #4A1FA8;
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width : 90%;
    max-width: 600px;
    Form {
        margin: 0px 50px;
        padding: 30px 10px;
        border-radius: 20px;
        width: 60%;
    }
}
.show{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

.benfite-section {
    margin-top: 50px;
    margin-bottom: 20px;
    .custom-card{
        h4 {
            font-size: 1.1em;
            font-weight: bold;
            color: #4A1FA9;
        }
        display: flex;
        flex-direction: column;
        width: 250px;
        align-items: center;
        box-shadow: 5px 5px 100px rgba(218, 210, 210, 0.342);
        border-radius: 10px;
        height: 230px;
        justify-content: space-evenly;
        img{
            width: 50px;
        }
        transition: all .2s ease-in-out;
    }

    .custom-card:hover{
        transform: scale(1.1);
        box-shadow: 5px 5px 80px rgba(218, 210, 210, 0.863);
    }
}

@media only screen and (max-width: 950px) {
    .left-cotnainer {
        width : 100%;
    } 
    .home-thumb {
        height: 450px;
    }
    .right-container {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .managment-right-container {
        margin-top: 50px;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .managment-left-container {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .auth-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .auth-form {
            width: 100%;
        }
    }
    .custom-footer {
        position: relative;
        bottom: 0px;
        clear: both;
    }
}